<!doctype html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>

    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://img.freepik.com/premium-vector/chat-gpt-with-laptop_890827-3.jpg"
              class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form class="form-signin" method="POST">
              <div class="d-flex flex-row align-items-center justify-content-center justify-content-center">
                </br><h1 class="form-signin-heading" style="font-weight: bold;margin-bottom: 30px; font-size: 50px">Login</h21></br>
              </div>    
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Email/Username</label>
                <input type="text" id="form3Example3" class="form-control form-control-lg"
                  placeholder="Enter a valid email address" name="username" placeholder="Email Address" required="" autofocus="" />
                
              </div>
    
              <!-- Password input -->
              <div class="form-outline mb-3">
                <label class="form-label" for="form3Example4">Password</label>
                <input type="password" id="form3Example4" class="form-control form-control-lg"
                  placeholder="Enter password" name="password" placeholder="Password" required=""/>
              </div>
              <p style="color:red;">{{msg}}</p>  
              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg form-control form-control-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              </div>
            </form>
          </div>
        </div>
    </section>
  </body>
</html>